body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}
header{
    background: white url('../imagenes/foto1.jpg') no-repeat;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0px;
    background-size: cover;
    z-index: -1;

}
h1{
    font-size: 60px;
    text-align: center;

}
.foto img{
   position: relative;
   top: 200px;
   left: 150px;
}